<%- partial('/_partial/navmenu') %>
<div class="wrapper">
    <%- partial('/_partial/banner') %>
    <div class="container mt30">
        <div class="row">
            <%- partial('/_partial/sideleft') %>
            <%- partial('/_partial/pagelist') %>
            <%- partial('/_partial/sideright') %>
        </div>
    </div>
</div>
