<div class="col-md-7 middle">

    <div class="ad-wrapper" id="mm_124884735_33830642_184038395">
        <div class="loading">
            <i class="fa fa-spinner fa-spin fa-2x" aria-hidden="true"></i>
        </div>
        <div id="carousel-example-generic" class="carousel slide mb5" data-ride="carousel">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class=""></li>

                    <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>

                    <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>

                    <li data-target="#carousel-example-generic" data-slide-to="3" class=""></li>

                    <li data-target="#carousel-example-generic" data-slide-to="4" class=""></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <a href="/reco/1640000017008976?utm_source=ad_index" class="item"
                       style="background:url(https://image-static.segmentfault.com/271/730/2717301028-5a27928f1907e); background-size: cover">
                        <div class="carousel-caption">
                            <h3 class="title">工作两三年遇到瓶颈的看了都说好</h3>

                        </div>
                    </a>

                    <a href="/reco/1640000017886421?utm_source=ad_index" class="item active"
                       style="background:url(https://image-static.segmentfault.com/428/271/4282719427-5c3c472a5c725); background-size: cover">
                        <div class="carousel-caption">
                            <h3 class="title">「一入 Java 深似海 」系列课程</h3>
                            <h5 class="sub-title">小马哥新课，带你扎实掌握 Java 基础</h5>
                        </div>
                    </a>

                    <a href="/reco/1640000017200883?utm_source=ad_index" class="item"
                       style="background:url(https://image-static.segmentfault.com/304/300/3043006573-5baaf95c9b89c); background-size: cover">
                        <div class="carousel-caption">
                            <h3 class="title">Vue 技术栈开发实战</h3>

                        </div>
                    </a>

                    <a href="/reco/1640000016990281?utm_source=ad_index" class="item"
                       style="background:url(https://image-static.segmentfault.com/413/973/4139731296-5a154785152a2); background-size: cover">
                        <div class="carousel-caption">
                            <h3 class="title">超过千人学习过的微服务课程</h3>

                        </div>
                    </a>

                    <a href="/reco/1640000016973816?utm_source=ad_index" class="item"
                       style="background:url(https://image-static.segmentfault.com/131/301/1313011719-5bc6a63ef190f); background-size: cover">
                        <div class="carousel-caption">
                            <h3 class="title">iView 实战系列教程</h3>

                        </div>
                    </a>
                </div>
            </div>
            <div class="mask"></div>
        </div>
    </div>


    <div class="feed-option">
        <h5>为你推荐</h5>
    </div>

    <div class="alert alert-info mt15 mb0 hidden" role="alert" id="notice-update"></div>

    <div class="news-list">
        <div class="news-item stream__item clearfix mt15" data-id="1190000018091398">
            <div class="news__item-info clearfix">
                <a href="" class="news-img"
                   style="background-image:url(https://github.com/buildupchao/ImgStore/blob/master/blog/RPC%E5%8E%9F%E7%90%86.png?raw=true)"></a>
                <a target="_blank" href="">
                    <div class="mb5 mt5">
                        <h4 class="news__item-title mt0">设计一个分布式RPC框架</h4>
                    </div>
                    <div class="article-excerpt">
                        我从事的是大数据开发相关的工作，主要负责的是大数据计算这块的内容。最近Hive集群跑任务总是会出现Thrift连接HS2相关问题，研究了解了下内部原理，突然来了兴趣，就想着自己也实现一个RPC框架，这样可以让自己...
                    </div>
                </a>
                <div class="news__item-meta">
                                <span class="pr20 votes-operation " data-id="1190000018091398" data-type="article">
                                    <span class="wrap">
                                        <i class="fa fa-thumbs-up "></i>
                                    </span>
                                    <span class="votes-num  ">15</span>
                                    <span class="dot ">·</span>
                                    <span class="votes-word">赞</span>
                                </span>
                    <span class="bookmark-operation pr20 hidden" data-id="1190000018091398" data-type="article">
                                    <i class="fa fa-bookmark pr5"></i>
                                    <span class="bookmark-word">收藏</span>
                                </span>
                    <span class="author pr20">
                                    <a href="">buildupchao</a>
                                    <span class="dot">·</span>
                                    1 天前</span>
                </div>
            </div>
        </div>
        <div class="news-item stream__item clearfix mt15" data-id="1190000018089727">
            <div class="news__item-info clearfix">
                <a href="" class="news-img"
                   style="background-image:url(https://segmentfault.com/img/bVbn36X?w=283&h=306)">
                </a>
                <a target="_blank" href="">
                    <div class="mb5 mt5">
                        <h4 class="news__item-title mt0">canvas中的拖拽、缩放、旋转 (上) —— 数学知识准备</h4>
                    </div>
                    <div class="article-excerpt">
                        最近做了一个移动端活动页的需求，大概就是diy一个页面。用户可以对物料进行拖动、缩放、旋转，来达到diy的目的。用DOM来实现是不现实的，我采用了canvas来实现和用户的交互。开发过程中，涉及到了canvas中对物料...
                    </div>
                </a>
                <div class="news__item-meta">
                                <span class="pr20 votes-operation " data-id="1190000018089727" data-type="article">
                                    <span class="wrap">
                                        <i class="fa fa-thumbs-up hot"></i>
                                    </span>
                                    <span class="votes-num hot ">22</span>
                                    <span class="dot ">·</span>
                                    <span class="votes-word">赞</span>
                                </span>
                    <span class="bookmark-operation pr20 hidden" data-id="1190000018089727" data-type="article">
                                    <i class="fa fa-bookmark pr5"></i>
                                    <span class="bookmark-word">收藏</span>
                                </span>
                    <span class="author pr20">
                                    <a href="">CoyPan</a>
                                    <span class="dot">·</span>
                                    1 天前
                                </span>
                </div>
            </div>
        </div>
        <% page.posts.each(function (post) { %>
            <div class="news-item stream__item clearfix mt15">
                <div class="news__item-info clearfix">
                <a href="<%- url_for(post.path) %>" class="news-img" style="background-image:url(https://img2018.cnblogs.com/news/24442/201901/24442-20190128150150626-1444477684.jpg)">
                </a>
                <a target="_blank" href="<%- url_for(post.path) %>">
                    <div class="mb5 mt5">
                        <h4 class="news__item-title mt0"><%= post.title %></h4>
                    </div>
                    <div class="article-excerpt">
                        <% if(post.excerpt){ %>
                            <%- post.excerpt %>
                        <% }  else{ %>
                            <%- post.content %>
                        <% } %>
                    </div>
                </a>
                <div class="news__item-meta">
                                <span class="pr20 votes-operation " data-id="1190000018089727" data-type="article">
                                    <span class="wrap">
                                        <i class="fa fa-thumbs-up hot"></i>
                                    </span>
                                    <span class="votes-num hot ">22</span>
                                    <span class="dot ">·</span>
                                    <span class="votes-word">赞</span>
                                </span>
                    <span class="bookmark-operation pr20 hidden" data-id="1190000018089727" data-type="article">
                                    <i class="fa fa-bookmark pr5"></i>
                                    <span class="bookmark-word">收藏</span>
                                </span>
                    <span class="author pr20">
                                    <a href="">CoyPan</a>
                                    <span class="dot">·</span>
                                    1 天前
                                </span>
                </div>
            </div>
            </div>
        <% }) %>
    </div>


</div>
<!--<div class="text-center">-->
    <!--<ul class="pager">-->
        <!--<li id="btn-load-more" class="hidden">-->
            <!--<a href="">点击载入更多</a>-->
        <!--</li>-->
        <!--<li id="btn-loading" class="hidden">-->
            <!--<a href="">-->
                <!--<i class="fa fa-spinner fa-spin" aria-hidden="true"></i>-->
                <!--载入中-->
            <!--</a>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->
