

        <div class="col-md-2 left">
            <div class="router-box">
                <a class="router-box-item active" href="">
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    <span class="name">为你推荐</span>
                </a>
                <a class="router-box-item " href="">
                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                    <span class="name">近期热门</span>
                </a>
                <a class="router-box-item " href="">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <span class="name">最新内容</span>
                </a>
                <a class="router-box-item showChannels visible-xs-block" href="">
                    <i class="fa fa-server" aria-hidden="true"></i>
                    <span class="name">技术频道</span>
                </a>
            </div>
            <div class="tech-square hidden-xs">
                <h5 class="tech-square-title mt0 mb15">技术频道</h5>

                <a class="tech-square-item " href="/channel/frontend">
            <span class="tech-square-item-icon">
              <%- image_tag('/imgs/icons/js.png') %>
            </span>
                    <span>前端</span>
                </a>

                <a class="tech-square-item " href="/channel/backend">
            <span class="tech-square-item-icon">
              <%- image_tag('/imgs/icons/behind.png') %>
            </span>
                    <span>后端</span>
                </a>

                <a class="tech-square-item " href="/channel/miniprogram">
            <span class="tech-square-item-icon">
                <%- image_tag('/imgs/icons/wechat-pro.png') %>
            </span>
                    <span>小程序</span>
                </a>

                <a class="tech-square-item " href="/channel/ai">
            <span class="tech-square-item-icon">
              <%- image_tag('/imgs/icons/ai.png') %>
            </span>
                    <span>人工智能</span>
                </a>

                <a class="tech-square-item " href="/channel/bc">
            <span class="tech-square-item-icon">
              <%- image_tag('/imgs/icons/lian.png') %>
            </span>
                    <span>区块链</span>
                </a>

                <a class="tech-square-item " href="/channel/netsec">
            <span class="tech-square-item-icon">
              <%- image_tag('/imgs/icons/safe.png') %>
            </span>
                    <span>安全</span>
                </a>

                <a class="tech-square-item " href="/channel/android">
            <span class="tech-square-item-icon">
              <%- image_tag('/imgs/icons/android.png') %>
            </span>
                    <span>Android</span>
                </a>

                <a class="tech-square-item " href="/channel/ios">
            <span class="tech-square-item-icon">
              <%- image_tag('/imgs/icons/apple.png') %>
            </span>
                    <span>iOS</span>
                </a>

                <a class="tech-square-item " href="/channel/toolkit">
            <span class="tech-square-item-icon">
              <%- image_tag('/imgs/icons/tools.png') %>
            </span>
                    <span>工具</span>
                </a>

                <a class="tech-square-item " href="/channel/programmer">
            <span class="tech-square-item-icon">
              <%- image_tag('/imgs/icons/programmer.png') %>
            </span>
                    <span>程序员</span>
                </a>

                <a class="tech-square-item " href="/channel/industry">
            <span class="tech-square-item-icon">
              <%- image_tag('/imgs/icons/pro.png') %>
            </span>
                    <span>行业</span>
                </a>



                <a class="tech-square-item " href="/tags">
            <span class="tech-square-item-icon">
              <i class="fa fa-tags" aria-hidden="true"></i>
            </span>
                    <span>更多标签</span>
                </a>
            </div>
        </div>


