<div class="col-xs-7 col-xs-offset-1 aside">
    <div class="board">
        <a target="_blank" href="/"><img src="<%- url_for('imgs/banner-9.png') %>
%>" alt="Banner s 3" /></a>
        <a target="_blank" href="/"><img src="<%- url_for('imgs/banner-31.png') %>" alt="Banner s 4" /></a>
        <a utm_medium="index-banner-s" target="_blank" href="/"><img src="<%- url_for('imgs/banner-39.png') %>" alt="Banner s 7" /></a>
        <a utm_medium="index-banner-s" target="_blank" href="/"><img src="<%- url_for('imgs/banner-s-3.png') %>" alt="Banner s 5" /></a>
        <a target="_blank" href="/"><img src="<%- url_for('imgs/banner-s-4.png') %>" alt="Banner s 6" /></a>
    </div>

    <!-- 首页右侧 App 下载提示 -->
    <a id="index-aside-download-qrbox" class="col-xs-8 download" data-toggle="popover" data-placement="top" data-html="true" data-trigger="hover" data-content="&lt;img src=&quot;//cdn2.jianshu.io/assets/web/download-index-side-qrcode-cb13fc9106a478795f8d10f9f632fccf.png&quot; alt=&quot;Download index side qrcode&quot; /&gt;" href="/apps?utm_medium=desktop&amp;utm_source=index-aside-click">
        <img class="qrcode" src="//cdn2.jianshu.io/assets/web/download-index-side-qrcode-cb13fc9106a478795f8d10f9f632fccf.png" alt="Download index side qrcode" />
        <div class="info">
            <div class="title">下载简书手机App<i class="iconfont ic-link"></i></div>
            <div class="description">随时随地发现和创作内容</div>
        </div>
    </a>
    <!-- 推荐作者 -->
    <div data-vcomp="recommended-author-list"></div>
</div>
