<div class="col-xs-12 col-md-9 main ">
    <ol class="breadcrumb mb15">
        <li><a href="/blogs">专栏</a></li>
        <li class="active">文章详情</li>
    </ol>
    <div class="post-topheader custom- pt0">
        <div class="mb20">
            <div class="block-for-right-border">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">


                        <div class="post-topheader__info" data-username="buildupchao" data-userslug="luwangmeilun"
                             data-useravatar="https://avatar-static.segmentfault.com/309/557/3095573958-5c3c3b002c0a0_big64">


                            <div class="article__author clearfix">
                                <div class="article__authorleft">
                                    <a href="/">
                                        <img class="avatar-40"
                                             src="https://avatar-static.segmentfault.com/309/557/3095573958-5c3c3b002c0a0_big64"
                                             alt="buildupchao">
                                    </a>
                                </div>
                                <div class="article__authorright">
                                    <div class="article__authormeta">
                                        <a href="/u/luwangmeilun" class="mr5"><strong><%= config.author %></strong></a>


                                        <img src="https://cdn.segmentfault.com/v-5c4ec07f/global/img/rp.svg"
                                             class="mr5"><span style="color:#BF7158" class="mr10">112</span>


                                        <span class="hidden-xs">
                                            <button type="button"
                                                    class="btn btn-xs btn-success follow-user"
                                                    data-do="follow"
                                                    data-type="user"
                                                    data-id="1030000007471032">
                                                关注作者
                                            </button>
                                    </span>
                                    </div>

                                    <span style="display: block">
                                                    <%= theme.site.description %>
                                                </span>
                                </div>
                            </div>

                            <h1 class="h1 post-topheader__info--title" id="articleTitle" data-id="1190000018091398">
                                <a href="/a/1190000018091398"> <%= page.title %> </a>
                            </h1>

                            <div class="content__tech hidden-xs">
                                <a href="" class="blog-type-common blog-type-1-before" target="_blank" data-content="
                                                                                        原创
                                                                                        "></a>

                                <ul class="taglist--inline inline-block article__title--tag mr10">
                                    <li class="tagPopup mb5">
                                        <a class="tag" href="/t/%E6%9E%B6%E6%9E%84%E8%AE%BE%E8%AE%A1/blogs"
                                           data-toggle="popover" data-img="" data-placement="top"
                                           data-original-title="架构设计" data-id="1040000000119503">
                                            架构设计
                                        </a>
                                    </li>
                                    <li class="tagPopup mb5">
                                        <a class="tag" href="/t/java/blogs" data-toggle="popover"
                                           data-img="https://avatar-static.segmentfault.com/512/342/51234253-1040000000089449_big64"
                                           data-placement="top" data-original-title="java" data-id="1040000000089449">
                                            <img src="https://avatar-static.segmentfault.com/868/271/868271510-54cb382abb7a1_small">
                                            java
                                        </a>
                                    </li>
                                </ul>

                                <span>
                                                512 次阅读
                                                &nbsp;·&nbsp;
                                                读完需要 17 分钟
                                                                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end .post-topheader -->

    <div class="visible-lg">
        <div class="side-widget">
            <div class="stream__item-zan btn btn-default mt0 mb15 ml0 mr0 pt0 pb0 pl0 pr0 " id="side-widget-votes-btn">
                <span class="stream__item-zan-icon"></span>
                <span class="stream__item-zan-number" id="side-widget-votes-num">26</span>
            </div>

            <i class="fa fa-bookmark item " id="side-widget-bookmarks-btn"></i>
            <i class="fa fa-weibo item"></i>
            <i class="fa fa-weixin item" data-toggle="popover" data-placement="right" data-original-title=""
               title=""></i>
            <i class="fa fa-twitter item"></i>
            <i class="fa fa-facebook item"></i>
            <i class="fa fa-arrow-up item hidden"></i>
        </div>
    </div>


    <div class="article fmt article__content" data-id="1190000018091398" data-license="">
        <%- page.content %>
    </div>

    <div class="clearfix mt10">
        <ul class="article-operation list-inline pull-left mt15">
            <li><a target="_blank" href="https://opensource.org/licenses/MIT/"><img class="mb5"
                                                                                                  src="<%- url_for('/imgs/creativecommons-cc.svg') %>"
                                                                                                  height="20"></a></li>
            <li class="dropdown js__content-ops hidden-xs" data-module="article" data-id="1190000018091398"
                data-typetext="文章"><a href="javascript:void(0);" class="dropdown-toggle text-muted"
                                      data-toggle="dropdown"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                <ul class="dropdown-menu dropdown-menu-left">
                    <li><a href="#911" data-toggle="modal" data-target="#911" data-action="report">举报</a></li>
                </ul>
            </li>
        </ul>
        <div class="pull-right mt-10 hidden-xs">
            <div class="widget-share__full" data-text="设计一个分布式RPC框架"
                 data-url="https://segmentfault.com/a/1190000018091398" data-shorturl="http://sfau.lt/b5bn4yU">
                <div class="widget-share-network sharer-0" style="display: block;">
                    <ul class="sn-inline">
                        <li data-network="weibo"><a href="javascript:void(0);"
                                                    class="entypo-weibo icon-sn-weibo share-1" data-toggle="tooltip"
                                                    data-placement="top" title="" data-original-title="分享至新浪微博">新浪微博</a>
                        </li>
                        <li data-network="wechart"><a href="javascript:void(0);"
                                                      class="entypo-wechart icon-sn-weixin share-2"
                                                      data-toggle="tooltip" data-placement="top" title=""
                                                      data-original-title="分享至微信">微信</a></li>
                        <li data-network="twitter"><a href="javascript:void(0);"
                                                      class="entypo-twitter icon-sn-twitter share-3"
                                                      data-toggle="tooltip" data-placement="top" title=""
                                                      data-original-title="分享至 Twitter">Twitter</a></li>
                        <li data-network="facebook"><a href="javascript:void(0);"
                                                       class="entypo-facebook icon-sn-facebook share-4"
                                                       data-toggle="tooltip" data-placement="top" title=""
                                                       data-original-title="分享至 Facebook">Facebook</a></li>
                    </ul>
                </div>
                <a type="button" class="btn btn-sm shareMore btn-sn-more" data-toggle="popover" data-placement="top"
                   data-url="https://segmentfault.com/a/1190000018091398" data-shorturl="http://sfau.lt/b5bn4yU"><span
                            class="icon-sn-dotted" data-original-title="" title=""></span><strong
                            class="visible-xs-inline">•••</strong></a></div>


        </div>
    </div>
    <div class="mt10 text-center mb30">
        <button type="button" id="mainLike" data-id="1190000018091398" class="btn btn-success btn-lg mr15 "><span
                    id="mainLikeText">赞</span>&nbsp;&nbsp;<span class="seprator">|</span>&nbsp;&nbsp;
            <span id="mainLikeNum">26 </span></button>
        <button type="button" id="mainBookmark" data-type="article" data-id="1190000018091398"
                class="btn btn-default btn-lg "><span id="mainBookmarkText">收藏</span>&nbsp;&nbsp;<span class="seprator">|</span>&nbsp;&nbsp;<span
                    id="mainBookmarkNum">18</span></button>
    </div>
    <script type="text/javascript">
        OA_show(3);
    </script>
    <div style="text-align: center; line-height: 0; background: #EEE">
        <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- 中部横幅广告位 -->
        <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px"
             data-ad-client="ca-pub-6330872677300335" data-ad-slot="5598290435" data-adsbygoogle-status="done">
            <ins id="aswift_1_expand"
                 style="display:inline-table;border:none;height:90px;margin:0;padding:0;position:relative;visibility:visible;width:728px;background-color:transparent;">
                <ins id="aswift_1_anchor"
                     style="display:block;border:none;height:90px;margin:0;padding:0;position:relative;visibility:visible;width:728px;background-color:transparent;">
                    <iframe width="728" height="90" frameborder="0" marginwidth="0" marginheight="0" vspace="0"
                            hspace="0" allowtransparency="true" scrolling="no" allowfullscreen="true"
                            onload="var i=this.id,s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}"
                            id="aswift_1" name="aswift_1"
                            style="left:0;position:absolute;top:0;border:0px;width:728px;height:90px;"></iframe>
                </ins>
            </ins>
        </ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <div id="beacon_4a80a275e7" style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img
                    src="https://sponsor.segmentfault.com/lg.php?bannerid=2&amp;campaignid=1&amp;zoneid=3&amp;loc=https%3A%2F%2Fsegmentfault.com%2Fa%2F1190000018091398&amp;referer=https%3A%2F%2Fsegmentfault.com%2F&amp;cb=4a80a275e7"
                    width="0" height="0" alt="" style="width: 0px; height: 0px;"></div>
    </div>


    <h4 class="pt20 mb15 mt0 border-top">你可能感兴趣的</h4>


    <div class="mb15 block">
        <script type="text/javascript">
            OA_show(4);
        </script>
        <div id="beacon_9108dbf8a3" style="position: absolute; left: 0px; top: 0px; visibility: hidden;"><img
                    src="https://sponsor.segmentfault.com/lg.php?bannerid=0&amp;campaignid=0&amp;zoneid=4&amp;loc=https%3A%2F%2Fsegmentfault.com%2Fa%2F1190000018091398&amp;referer=https%3A%2F%2Fsegmentfault.com%2F&amp;cb=9108dbf8a3"
                    width="0" height="0" alt="" style="width: 0px; height: 0px;"></div>

    </div>

    <div id="paradigm-article-related">
        <div class="recommend-post mb30">
            <ul class="widget-links">
                <li><a href="http://segmentfault.com/a/1190000004085201" title="如何设计一个JavaWeb MVC框架" target="_blank">如何设计一个JavaWeb
                        MVC框架</a><span class="text-muted">王爵</span><a class="tag" taget="_blank"
                                                                      href="/t/github">github</a><a class="tag"
                                                                                                    taget="_blank"
                                                                                                    href="/t/java">java</a>
                </li>
                <li><a href="http://segmentfault.com/a/1190000004480453" title="分享自己做的一个JAVA RPC 框架 longio"
                       target="_blank">分享自己做的一个JAVA RPC 框架 longio</a><span class="text-muted">quantzhu</span><a
                            class="tag" taget="_blank" href="/t/spring">spring</a><a class="tag" taget="_blank"
                                                                                     href="/t/springboot">springboot</a><a
                            class="tag" taget="_blank" href="/t/netty">netty</a><a class="tag" taget="_blank"
                                                                                   href="/t/rpc">rpc</a><a class="tag"
                                                                                                           taget="_blank"
                                                                                                           href="/t/java">java</a>
                </li>
                <li><a href="http://segmentfault.com/a/1190000013004527" title="框架设计模式" target="_blank">框架设计模式</a><span
                            class="text-muted">Dyan</span><a class="tag" taget="_blank" href="/t/php">php</a></li>
                <li><a href="http://segmentfault.com/a/1190000015021035" title="分布式发号器架构设计"
                       target="_blank">分布式发号器架构设计</a><span class="text-muted">Eric</span><a class="tag" taget="_blank"
                                                                                            href="/t/%E7%AE%97%E6%B3%95-%E6%95%B0%E6%8D%AE%E7%BB%93%E6%9E%84">算法-数据结构</a><a
                            class="tag" taget="_blank" href="/t/%E5%88%86%E5%B8%83%E5%BC%8F">分布式</a><a class="tag"
                                                                                                       taget="_blank"
                                                                                                       href="/t/%E7%B3%BB%E7%BB%9F%E8%AE%BE%E8%AE%A1">系统设计</a><a
                            class="tag" taget="_blank" href="/t/%E6%9E%B6%E6%9E%84%E8%AE%BE%E8%AE%A1">架构设计</a><a
                            class="tag" taget="_blank" href="/t/java">java</a></li>
                <li><a href="http://segmentfault.com/a/1190000003005665" title="分布式rpc框架ice学习之helloworld篇"
                       target="_blank">分布式rpc框架ice学习之helloworld篇</a><span class="text-muted">西二旗剑客</span><a class="tag"
                                                                                                            taget="_blank"
                                                                                                            href="/t/c">c</a><a
                            class="tag" taget="_blank" href="/t/c%2B%2B">c++</a></li>
                <li><a href="http://segmentfault.com/a/1190000005937614" title="设计一个框架化框架 Frontia" target="_blank">设计一个框架化框架
                        Frontia</a><span class="text-muted">Kaede</span><a class="tag" taget="_blank" href="/t/android">android</a>
                </li>
                <li><a href="http://segmentfault.com/a/1190000015338836" title="如何设计一个 RPC 系统" target="_blank">如何设计一个
                        RPC 系统</a><span class="text-muted">bali</span><a class="tag" taget="_blank"
                                                                         href="/t/%E7%BC%93%E5%AD%98">缓存</a><a
                            class="tag" taget="_blank" href="/t/mysql">mysql</a><a class="tag" taget="_blank"
                                                                                   href="/t/nginx">nginx</a><a
                            class="tag" taget="_blank" href="/t/spring">spring</a><a class="tag" taget="_blank"
                                                                                     href="/t/java">java</a></li>
                <li><a href="http://segmentfault.com/a/1190000016298213" title="如何设计一个麻雀般的微型分布式架构？" target="_blank">如何设计一个麻雀般的微型分布式架构？</a><span
                            class="text-muted">腾讯云加社区</span><a class="tag" taget="_blank" href="/t/%E6%9E%B6%E6%9E%84">架构</a><a
                            class="tag" taget="_blank" href="/t/%E4%BA%91%E6%9C%8D%E5%8A%A1%E5%99%A8">云服务器</a><a
                            class="tag" taget="_blank" href="/t/%E5%88%86%E5%B8%83%E5%BC%8F">分布式</a><a class="tag"
                                                                                                       taget="_blank"
                                                                                                       href="/t/%E7%A8%8B%E5%BA%8F%E5%91%98">程序员</a><a
                            class="tag" taget="_blank" href="/t/%E4%BA%91%E8%AE%A1%E7%AE%97">云计算</a></li>
            </ul>
        </div>
    </div>


    <div class="comments--news comments--default comments--article
    " data-id="1190000018091398" data-user-id="" data-author-id="1030000007471032 " data-is-admin="null"
         id="goToReplyArea">
        <div class="mb10 clearfix">
            <strong class="comments-stat pull-left mr10">评论</strong>

            <div class="btn-group btn-group-xs pull-right comments-sort btn-group-menu" role="menu">
                <a href="javascript:;" class="btn btn-default active" data-sort="default">默认排序</a>
                <a href="javascript:;" class="btn btn-default" data-sort="desc">时间排序</a>
            </div>
        </div>
        <div class="comments-container">
            <div class="comments-list">
            </div>
            <div class="comments-loading hide">载入中...</div>
            <div class="comments-more hide"><a href="javascript:;">显示更多评论</a></div>


            <div class="comments-box" id="goToReplyEditor">
                <div class="pull-left">
                    <img class="avatar-32 " src="<%- url_for('/imgs/user-128.png') %>"
                         alt="">
                </div>
                <div class="comments-box-content">
                    <form action="/api/article/1190000018091398/comments/add">
                        <div class="form-group mb0">
                            <textarea name="text" rows="3" class="form-control" placeholder="文明社会，理性评论"></textarea>
                            <div class="mt15 text-right">
                                <button type="button" class="hide"></button>
                                <button class=" btn btn-primary" type="button">发布评论</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
